extends widerlayout

block login
        div(ng-app='app')
            div(ng-controller='cs')
            <hint-table hintarr="hintarr"></hint-table>
            jo dulhe ke sir pe sehra
       
       
       
       
       
       
       
        script(src='/javascript/hintf.js')
        script(src='/javascript/temp/file.js')