<H2>Edit Hint</H2>



<form name='editform' novalidate >

<div class="form-group">
<label class='col-sm-2'>Hint</label>
<div class='col-sm-10'>
<textarea name='clue' ng-model='hint.hint' name='clue'' required class='form-control' rows='5'></textarea> 
  <div ng-show="editform.clue.$touched || editform.$submitted"> 
           <span ng-show="editform.clue.$invalid"> Clue is required </span>
		   </div>
		  
</div>
 <div class='clearfix'></div>
</div>
<div class="form-group">
<label class='col-sm-2'>Order</label>
<div class='col-sm-10'>
<input type='text' name='order' required class='form-control'  ng-model='hint.sort_order' />
 <div ng-show="editform.order.$touched || editform.$submitted"> 
           <span ng-show="editform.order.$invalid"> Please enter order </span>
		   </div>
<input type='hidden' name='songid' ng-model='hint.songid' required  />

</div>
  <div class='clearfix'></div>
</div>
<div class="form-group">

<div class='col-sm-10 pull-right'>
<input type='button' class='btn btn-primary' ng-click='update()' value='Update' />
<input type='button' class='btn btn-primary' ng-click='cancel()' value='Cancel'/>


</div>

</div>
</form>
</div>
</div>