div( ng-showd="pagination.pages")
   ul.pagination
          li(ng-if='pagination.prev')
              a(href='{{pagination.prev}}')
                Previous
          li(ng-repeat="page in pagination.pages")
                    a(href="{{page.url}}")
                      {{page.number}}
                    
          li(ng-if='pagination.next')
              a(href='{{pagination.next}}')
                Next
                   