div.well
  div.row
        div.col-sm-4
           div.form-group
               label.control-label Movie Name
               input.form-control(type='text' name='filter_name' placeholder='Movie Name')
               
        div.col-sm-4
         div.form-group
          label.control-label Year
          input.form-control(type='text' name='filter_year' placeholder='Movie Year')
           
        div.col-sm-4
                          
  div.row  
        div.col-sm-4
          div.pull-right
            input.btn.btn-primary(type="button") Filter
