<nav id="column-left">
   <ul id='menu'>
      <li id='dashbard'>
       <a href="geet/add"><i class="fa.fa-dashboard"></i>
      </li>
      <li id='song'>
       <a class='parent'>
        <i class="fa.fa-camera"></i>
        <span> Songs</span>
       <ul>
          <li> 
           <a href='/geet/list'> List</a>
          <li> 
            <a href='/geet/add'>  Add</a>
			
		  </li>
	   </ul> 
	  </li>
      <li id="settings">
                <a class="parent">
                <i class="fa fa-cog fw"></i>
                <span>Settings</span>
                </a>
                <ul>
                 <li> 
                  <a class="parent">Customers</a>
                  <ul>
                     <li>
                       <a href="/customer/list">List</a><
                     </li>
                   </ul>
                  </li>
                 </ul>
          </li>  
        
        
       
      
  </ul>
</nav>		   