extends ../widerlayout

block login
 
   div.page-header( )
     
             
     div.container-fluid
            include ../chunks/bread
         
            
     div.row
       div.col-md-12.col-sm-12
        div.clear-fix
         div.alert.alert-danger    #{text}
        
        
