extends widerlayout

block login
    include ../common/bread

    
    
    div(ng-app="app" )
     div#holder( ng-controller='listController' ng-init='mode=list;' )
      div.pull-right
        a.btn.btn-primary(ng-click='addd()')
          i.fa.fa-plus
        |    
        a.btn.btn-danger(ng-click='deletee()' )
          i.fa.fa-trash 
      div(style='clear:right')
      div.panel.panel.default
        div.panel-heading  
          div.panel-title User Group List
            div.panel-body() 
             div#cot
             
             
             
             
             
                form()
                 div.table-responsive(ng-show='records')
                       table.table-bordered.table.table-over
                            tr
                              td
                                   input(type='checkbox' onclick="checkAll(this.checked,\"reco\")")
                            
                              td #{column_name}
                              td
                            tr(ng-repeat="record in records")  
                              td
                                   input(type='checkbox' name="reco" value="{{record._id}}"  )
                              td {{record.name}} 
                              td
                                 button.btn.btn-primary(href='userg/edit/{{record._id}}' ng-click="eedit(record._id)") 
                                       i.fa.fa-pencil
        
        
                include ../admin/chunks/paginate
               
        
                div#addchunk(ng-show='mode=="edit" || mode=="add"')
                 include adduser.jade
        

      script(src='/javascript/userg/userg.js')
      script(src='/javascript/userg/usergf.js')
      script(src='/javascript/userg/usergcontrollers.js')
